@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import "tailwindcss";


* {
    font-family: "Varela Round", sans-serif;
    box-sizing: border-box;
}


@theme {
   --color-orange-500: #BD674C;
   --color-primary: #FFFFFF;
   --color--dark: #0F0F0F;
}